[user]
	name = Shintaro Abe
	email = dictav@gmail.com
[core]
	editor = vim
#	pager = vimpager
	excludesfile = /Users/dictav/.global_gitignore
#[pager]
#	diff =
#	external =

#[merge]
#	tool = vimdiff
#[diff]
#	external = vimdiff4git
[color]
	ui = auto
[alias]
	co = checkout
	s = status
	b = branch
        ba = branch -avv
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = simple
