/*
/.*
!.profile
!.bashrc
!.gitconfig
!.gitignore
!.gitmodules
!.global_gitignore
!.vim
!.rlwrap
!.config/fish/config.fish
!.config/fish/functions
!bin
!.rails/Gemfile
!.cocoapods/Gemfile
!.jekyll/Gemfile
