[user]
	name = Shintaro Abe
	email = dictav@gmail.com
[core]
	editor = vim
	pager = less
	excludesfile = /Users/dictav/.global_gitignore
[pager]
	diff =
	external =

[merge]
	tool = extMerge
[mergetool "extMerge"]
        cmd = extMerge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
        trustExitCode = false
[diff]
	external = extDiff
[color]
	ui = auto
[alias]
	co = checkout
	s = status
	b = branch
        ba = branch -avv
	graph = log --graph -25 --date-order --all --pretty=format:'%h %Cred%d %Cgreen%ad %Cblue%cn %Creset%s' --date=short
	ti = tickets
	ts = tickets show
	to = tickets open
#[difftool "sourcetree"]
#	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
#	path = 
#[mergetool "sourcetree"]
#	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
#	trustExitCode = true
[push]
	default = simple
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
